html {
  font-size: calc(100vw / 1920 * 10);
  --white: #fff;
  --gap-x: 10rem;
  --gap-y: 9rem;
}

body {
  background: var(--white);
}

* {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--white);
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  height: max-content;
  width: max-content;
}

/* canvas */
canvas#sketch {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  /* so our canvas doesn't get the click events */
  /* because the z-index is higher than the button elements */
  pointer-events: none;
  clip-path: inset(2rem round 2rem);
}

/* logo */
.logo {
  position: fixed;
  top: var(--gap-y);
  left: var(--gap-x);
  z-index: 3;
  width: 6.5rem;
  opacity: 0;
}

/* cta */
.cta {
  position: absolute;
  top: var(--gap-y);
  right: var(--gap-x);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 50px;
  color: #000;
  font-size: 2rem;
  height: 6rem;
  text-decoration: none;
  width: 24rem;
  z-index: 2;
  transition: background 0.22s ease-in-out, color 0.22s ease-in-out;
  opacity: 0;
}

.cta span {
  color: inherit;
}

a.cta:hover {
  background: #000;
  color: var(--white);
}

/* content */
.content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.holder {
  position: relative;
}

.content__holder {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

/* bg */
.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: #050f7c;
  clip-path: inset(2rem round 2rem);
  display: flex;
  align-items: flex-end;
  transition: background 2s ease-in-out;
}

.bg__grad {
  background: linear-gradient(0deg, #161616b0 18.23%, #ffffff00 100%);
  height: 66vh;
  width: 100%;
}

/* marquees */
.marquees {
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100vw;
}

ul.marquees__holder {
  display: grid;
  grid-template-columns: 1fr;
}

.marquees__travel {
  display: inline-flex;
  grid-area: 1 / 1 / 2 / 2;
  white-space: nowrap;
  will-change: transform;
  opacity: 0;
  transition: opacity 1s ease-in-out 0s;
}

/* The .mq class sets a custom property --time with a value of 16 seconds.
   It also applies an animation named 'marquee' that runs for the duration specified by --time.
   The animation runs infinitely in a linear motion. */
.mq {
  --time: 16s;
  animation: marquee var(--time) infinite linear;
}

/* This keyframes rule defines an animation named 'marquee'.
   The animation moves an element horizontally from its original position (0%) to the left by 50% (-50%).
   The movement is continuous and smooth, creating a scrolling effect. */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX( -50%); }  
}

.marquees__content {
  font-size: 30rem;
  letter-spacing: -1.1rem;
  max-width: 0 4rem 0 0;
  opacity: 1;
  transition: opacity 1s ease-in-out 0s;
}

/* .marquees__content.hl {
  background: rgba(255, 255, 255, .3);
} */

/* texts */
.texts {
  position: absolute;
  z-index: 1;
  bottom: var(--gap-y);
  left: var(--gap-x);
  opacity: 0;
}

ul.texts__holder {
  display: grid;
  grid-template-columns: 1fr;
}

li.texts__txt {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0;
  transition: opacity 1s ease-in-out 0s;
}

.texts h2 {
  font-size: 2.2rem;
}

.texts p {
  font-size: 1.8rem;
  line-height: 130%;
  margin: 1.7rem 0 0 0;
  width: 44.6rem;
}

/* triggers */
.trgs {
  position: absolute;
  bottom: var(--gap-y);
  right: var(--gap-x);
  z-index: 1;
}

.trgs__holder {
  display: flex;
  gap: 4rem;
}

button.trgs__trg {
  width: 8.5rem;
}

.trgs__trg svg {
  overflow: visible;
  transform-origin: 50% 50%;
  transition: scale 0.225s ease-in-out;
}

.trgs__trg svg rect {
  fill: rgba(0, 0, 0, 0.3);
  transition: fill 0.225s ease-in-out, scale 0.225s ease-in-out;
}

button.trgs__trg:hover svg rect {
  fill: rgba(255, 255, 255, 0.2);
}

button.trgs__trg:hover svg {
  scale: 1.2;
}

/* TEMPORARY */
/* .marquees__travel:first-child,
li.texts__txt:first-child {
  opacity: 1;
} */

/* _________ INTERACTIONS _________ */
/* _________ INTERACTIONS _________ */
/* disable buttons */
.isfirst .prev {
  opacity: 0.2;
  pointer-events: none;
}

.is-last .next {
  opacity: 0.2;
  pointer-events: none;
}

/* add themes by adding class to body */
/* 0 */
.theme-0 .marquees__travel:nth-child(1) {
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.theme-0 .texts li:nth-child(1) {
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.theme-0 .bg {
  background: #050F7C;
}

/* 1 */
.theme-1 .marquees__travel:nth-child(2) {
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.theme-1 .texts li:nth-child(2) {
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.theme-1 .bg {
  background: #007721;
}

/* 2 */
.theme-2 .marquees__travel:nth-child(3) {
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.theme-2 .texts li:nth-child(3) {
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.theme-2 .bg {
  background: #C32C00;
}

/* 3 */
.theme-3 .marquees__travel:nth-child(4) {
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.theme-3 .texts li:nth-child(4) {
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.theme-3 .bg {
  background: #9100B5;
}